
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_us_container{
   
  
    max-width: 350px;
    margin-top: 4rem;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #7555df; 
  }
  
  .contact_us_container h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
  }
  
  .contact_us_container .input_field{
    margin-bottom: 10px;
  }
  
  .contact_us_container .input_field input[type="text"],
  .contact_us_container textarea{
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
  }
  
  .contact_us_container textarea{
    resize: none;
    height: 80px;
  }
  
  .contact_us_container .btn input[type="submit"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #005f6b;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }
  
  #error_message{
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }

  .input-field-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }